alembic
blinker
Bootstrap-Flask
chicken
click
colorama
distlib
egg
filelock
Flask
Flask-Dropzone
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
narwhals
numpy
packaging
pandas
patsy
pep8
platformdirs
plotly
plotly-express
psycopg
psycopg-binary
psycopg-pool
pyparsing
python-dateutil
python-dotenv
pytz
scipy
setuptools
six
SQLAlchemy
statsmodels
tenacity
typing_extensions
tzdata
virtualenv
Werkzeug
wheel
WTForms