{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <h4 class = 'text-center'>This is a temporary page.</h4>
        </div>
        <div class='row main-div1'>
            <div class='col'>
                <p class='text-end'>Something good coming soon!</p>
            </div>
            <div class='col-md-auto'>
                <img src="{{ url_for('static', filename='images/water_wheel.jpg') }}" class='img-corners' />
            </div>
        </div>
    </div>
{% endblock %}