{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <h4 class = 'text-center font-color'>My home is in the works.</h4>
        </div>

        <div class='row main-div1'>
            <div class='col'>

                <p class='text-end'>I'm building my dream, come back soon.
                </p>
            </div>
            <div class='col-md-auto'>
                <img src="{{ url_for('static', filename='images/hal-gatewood-v7WyjiyXNr4-unsplash.jpg') }}" class='img-corners' />

                <figcaption>Photo by <a href="https://unsplash.com/@halacious?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hal Gatewood</a> on <a href="https://unsplash.com/s/photos/workbench?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                </figcaption>
            </div>
            <div class='col'>
                <p class='text-end'>Some good project examples coming soon!</p>
            </div>
        </div>

        <br />

        <div class='row main-div3'>
            <div class='col-md-auto'>
                <img src="{{ url_for('static', filename='images/dam.jpg') }}" class='img-corners' />
                <figcaption><a href="https://www.freepik.com/free-photo/long-exposure-beautiful-shot-lech-river-dam-reutte_7955735.htm#query=dam&position=1&from_view=search&track=sph">Image by wirestock</a> on Freepik</figcaption>
            </div>
            <div class='col'>
                <p class='text-end'>How to contact me:</p>
            </div>

    </div>
{% endblock %}