{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <h4 class = 'text-center'>This is a temporary page.</h4>
        </div>
        <div class='row main-div1'>
            <div class='col'>
                <p class='text-end'>Something good about me coming soon!</p>
            </div>
            <div class='col-md-auto'>
                <img src="{{ url_for('static', filename='images/water_wheel.jpg') }}" class='img-corners' />
            </div>
        </div>

        <br />

        <div class='row main-div2'>
            <div class='col-md-auto'>
                <img src="{{ url_for('static', filename='images/dam.jpg') }}" class='img-corners' />
                <figcaption><a href="https://www.freepik.com/free-photo/long-exposure-beautiful-shot-lech-river-dam-reutte_7955735.htm#query=dam&position=1&from_view=search&track=sph">Image by wirestock</a> on Freepik</figcaption>
            </div>
            <div class='col'>
                <p class='text-end'>Some good project examples coming soon!</p>
            </div>
            
        </div>
    </div>
{% endblock %}