{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}
{% block title %}Crypto Values{%  endblock %}

{% block content %}
<br/>
<br/>

<div class ='container'>
    <div class='row box_shadow main-div1'>
        <form method='POST' id='filterForm'>
        <div class='row'>
            {{ form.csrf_token() }}
            <div class='col-md-3'>{{ render_field(form.cryptoSelector) }}</div>
            <div class='col-sm'>{{ render_field(form.startDate) }}</div>
            <div class='col-sm'>{{ render_field(form.endDate) }}</div>
            <div class='col-sm'><label style="padding-bottom: 7px;">Filter Results:</label><br/>{{ render_field(form.submitButton) }}</div>
        </div>
    </div>
</div>

<br />

<div class='container main-div1-shadow' id='plot'>
    <div class='row'>
        <div class='row'>
            <div id='lineChart' class='lineChart'></div>
            <div id='dataTable' class='dataTable'></div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8"></script>
<script type ='text/javascript'>
    var config = {responsive: true,
                'displaylogo': false}
    var lineChart = {{ crypto_line_json|safe }};
    var dataTable = {{ crypto_table_json|safe }};

    Plotly.setPlotConfig(config)
    Plotly.newPlot('lineChart', lineChart, {});
    Plotly.newPlot('dataTable', dataTable.data, dataTable.layout);
</script>
{% endblock %}

