{% extends 'base.html' %}
{% block title %}Passion Projects{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <h4 class = 'text-center font-color'>My Passion Projects.</h4>
        </div>

        <div class='row main-div1'>
            <div class='col'>
                <h5>Data Engineering Projects</h5>
                <p>Part of the process of analyzing data, is first aquiring the data. </p>
                <p>I became interested in crypto coins, not because I have money to invest, but because I wanted to analyze
                    data that was freely available and showed great volatility. What better place than the dollar price of 
                    various crypto coins?
                </p>
                <a href='{{ url_for('projects.dataengineeringprojects') }}'><p>Here's how I did it</p></a>
                <p>If you want to skip to the end and download the code for yourself here's a link to my GitHub repo: <a href='https://github.com/paul-stork/API_pull'>CoinAPI Call repo</a></p>
            </div>
        </div>
        <br />
        <div class='row main-div1'>
            <div class='col'>
                <h5>Data Analysis Projects</h5>
                <br />
                <h6>Crypto Coin Dashboard</h6>
                <a href='{{ url_for('projects.cryptoProject') }}'><img src="{{ url_for('static', filename='images/plot_thumbnail.jpg') }}" 
                    width='250'
                    height='88' /></a>
                <br />
                <br />
                <p>So, we now have a little bit of data about the price of various CryptoCoins stored in our PostgreSQL database. The question becomes: What can we do with it?
                    I built a simple Dashboard to allow the end user to filter the data by Coin type, Start Date, and Finish Date. 
                </p>
            </div>
        </div>
{% endblock %}