<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paul Stork Labs</title>
        <meta name="description" content="This is the landing page for Paul Stork Labs portfolio site.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--- CSS Section -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

        <!-- JavaScript Section -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://unpkg.com/browse/htmx.org@1.8.4/dist/htmx.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>

    </head>
    <body class='body-background'>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav class="navbar navbar-expand-lg navbar-dark nav-background">
            <div class='container-fluid'>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">
                    <img src="{{url_for('static', filename='images/muninn and huginn.png')}}" 
                    width='95'
                    height='50'
                    alt="Paul Stork Two Ravens Icon" 
                    class="d-inline-block align-text-middle">
                    | Paul Stork Labs
                </a>
                <ul class="navbar-nav d-flex flex-row me-1">
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{{ url_for('aboutMe.aboutme') }}">About me</a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{{ url_for('projects.projectsHome') }}">Passion Projects</a>
                    </li>
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="#">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div>{% block content %}{% endblock %}</div>
        <br />
        <div> 
            <footer>
                <center>
                <a href="https://www.linkedin.com/in/pstorklabs" target="_blank">
                    <img src="{{ url_for('static', filename='images/icons8-linkedin-circled-60.png') }}" 
                        width='60'
                        height='60' /></a>
                &nbsp;
                <a href='https://github.com/paul-stork' target="_blank">
                    <img src="{{ url_for('static', filename='images/icons8-github-60.png') }}" 
                        width='60'
                        height='60' />
                </a>
                </center>
            </footer>
        </div>
    </body>
</html>